name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Snake (NO PROGRESS BAR)
        uses: Platane/snk@v3
        with:
          github_user_name: prem-x
          outputs: |
            dist/snake.svg?palette=github-light
            dist/snake-dark.svg?palette=github-dark

      - name: Push Snake Animation
        uses: EndBug/add-and-commit@v9
        with:
          message: "update snake animation"
          add: "dist/*.svg"
